<!DOCTYPE html>
<html>
<head>
	<title>Harvard VR Project</title>
	<link rel="stylesheet" href="styles.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
	<nav>
	  <div class="nav-wrapper"></div>
	</nav>

	<div class="parallax-container">
      <div class="parallax"><img src="images/img-2.jpg"></div>
  </div>

  <div class="button">
  	<a class="waves-effect waves-light btn-large start-button">GET STARTED HERE</a>
  </div>
	<div class="add-space"></div>
	<div class='container'>
	  <a NAME="TOP"><a>
	  <div class="color">
	  <h4>Overview</h4>
		  <p>WebVision is an open source web tool enabling an unified rendering engine for psychology and vision study. WebVision can render monocular and binocular content for Virtual Reality, Augmented Reality and Mixed Reality headsets agnostics to the operating system. Majority of browsers are supported by WebVision. </p>
 
			<p>WebVision enables a study of lens distortion, pixel structure, refresh rate, lightfield rendering and rendering delay. These are important parameters to study when designing an HMD. </p>
			<div class="add-space"></div>
			<h4>Partners</h4>
			<div class="center">
				<img src="logo.png" height="150" width="300">
			</div>
			<p>Harvard Medical School: WebVision is used by Schepens Eye Institute to evaluate motion sickness in virtual reality system.</p> 
			<p><a class="link" href="https://connects.catalyst.harvard.edu/Profiles/display/Person/155778">click here for more information</a></p>
			<div class="add-space"></div>

		</div>

		<a NAME="BOTTOM"><a>
		<div class="color">
			<!-- <hr />  -->
			<h4>Contact Us</h4>
			<div class="row">
		    <form class="col s12" action="mailto:parinaz77@gmail.com" method="post" enctype="text/plain">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="icon_prefix" type="text" class="validate">
		          <label for="icon_prefix">Full Name</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="icon_telephone" type="tel" class="validate">
		          <label for="icon_telephone">Telephone</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s12">
		          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
		          <label for="icon_prefix2">Message</label>
		        </div>
		      </div>
		      <input class="waves-effect waves-light btn-large start-button" type="submit" value="Submit">
		    </form>
		  </div>
		 </div>

	</div>

	<footer class="page-footer">
		<div class="container">
    	<div class="row row-footer"></div>
  	</div>
		<div class="footer-copyright"></div>
  </footer>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src=js/view.js></script>
	

</body>
</html>