
 body {
 	/*min-height: 1500px;*/
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: gray !important;
  font-size: 18px;
 }

 #flicker-button {
 	background-color: #26a69a;
 	border: none;
 	color: white;
 }

 #flicker-interval {
 	text-align: center;
 	border: 2px solid #e1e1e1;
 }

 #partners-header {
 	margin-bottom: 50px;
 }

 #video-card-action {
 	text-align: center;
 }

 #new-collection-button {
 	border-top: 2px solid grey;
 }

 #partners-desc {
 	text-align: center;
 }

 #collections-page-title {
 	text-align: center;
 	border-bottom: 2px solid grey;
 }

 #videos-page-title {
 	text-align: center;
 	border-bottom: 2px solid grey;
 }

 .section-header {
 	border-bottom: 2px solid grey;
 	/*width: 50%;*/
 }

 #overview {
 	color: gray !important;
 }

 .start-button {
 	border: 2px solid red;
 	margin: 0 auto;
 }

 /*nav{
 	position: fixed;
 }*/

 .nav-wrapper{
 	padding-left: 10px;
 }

 .nav-col {
 	padding-left: 10px;
 }

.parallax-container {
  max-height: 400px;
 }

.parallax {
 	height: 100px;
 }

p {
	/*text-align: center;*/
}

blockquote{
	margin:0 0;
}

p:before { content: "\00a0 "; }

.button {
	padding-top: 40px;
}
.start-button {

}

#start-btn {
	margin: 0 auto;
	text-align: center;
}

.plus-button {
	float: right;
}

.color {
	color:gray !important;
}

.center{
  align-items: center;
}

#modal1 {
	min-height: 350px;
}
.border{
	display:inline; 
}

nav {
	background-color: #26a69a !important;
}

.page-footer{
	background-color: #26a69a !important;
	text-align: center;
}

.footer-copyright {
	margin: 0 auto;
}

#copyright {
	margin: 0 auto;
}

.p-desc {
	text-align: inherit;
}

.carousel {
	height: 200px !important;
}

.carousel .carousel-item{
	width: 250px !important;
	top: 34px !important;
}

.add-space{
	padding-bottom: 100px;
}

p{
	color:gray !important;
}

.link {
	color:#039be5 !important;
}

h4{
	color:#b2dfdb !important;
}

.color-white {
	color:white !important;
}

.card .card-action{
	padding: 10px 10px !important;
}

.card-front{
	height: 350px;
}

.card-content{
	font-size: 15px;
}

.delete-loc{
	text-align: right;
	padding-right: 10px;
}

.delete-links {
	color: red;
}

.collection-links {
	color: #26a69a !important;
}

.card-title {
	text-align: center;
}


.gif-p {
	float: left;
}

.gif-r {
	float: right;
}

.height {
	height: 400px;
}

.in-header{
	font-size: 20px;
}